@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 1;
}

/* demo styles */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: #fff;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #272333;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
p {
    margin-top: 0;
    margin-bottom: 5px;
}
small {
    font-size: 75%;
    color: #eee;
}
a, a:visited, a:hover, a:focus {
    color: inherit;
}
a:hover, a:focus {
    color: #ddd;
}
.jarallax {
    min-height: 600px;
}

/* hero block */
.demo-table {
    display: table;
    width: 100%;
    height: 700px;
    background-color: rgba(39, 35, 51, 0.8);
}
.demo-table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* gap */
.demo-gap {
    padding: 50px;
}
.demo-gap h1,
.demo-gap h2,
.demo-gap h3 {
    text-align: center;
}
.demo-gap .container {
    max-width: 800px;
    margin: 0 auto;
}
.demo-gap-half {
    display: table;
    width: 100%;
}
.demo-gap-half > div {
    display: table-cell;
    width: 50%;
}
.demo-gap-half .demo-gap-1 .jarallax,
.demo-gap-half .demo-gap-2 .jarallax {
    padding-top: 56.25%;
    min-height: auto;
    height: 0;
}
.demo-gap-half .demo-gap-1 .jarallax {
    padding-top: 112.5%;
}


/* full height demo */
.demo-full-height,
.demo-full-height .demo-table {
    height: 96vh;
    min-height: 600px;
}
