.jarallax-keep-img {
    position: relative;
    z-index: 0;
}
.jarallax-keep-img > .jarallax-img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: -100;
    opacity: 0;
}


/* demo styles */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: #f3f4f6;
    background-color: #000;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
p {
    margin-top: 0;
    margin-bottom: 5px;
}
p ~ p,
p ~ div {
    margin-top: 15px;
}

small {
    font-size: 80%;
    opacity: 0.6;
}
a, a:visited, a:hover, a:focus {
    color: inherit;
}
a:hover, a:focus {
    color: #4f4f4f;
}
.jarallax {
    min-height: 600px;
}
.jarallax-keep-img.demo-float-left {
    margin-right: 15px;
    margin-left: -60px;
}
.jarallax-keep-img.demo-float-right {
    margin-left: 15px;
    margin-right: -60px;
}

@media screen and (max-width: 600px) {
    .jarallax-keep-img.demo-float-left,
    .jarallax-keep-img.demo-float-right {
        margin-right: 0;
        margin-left: 0;
        float: none;
    }
}

/* hero block */
.hero h1 {
    font-size: 80px;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1;
    letter-spacing: -0.01em;
    font-weight: 800;
}
.hero.jarallax > .jarallax-img,
.hero.jarallax > .jarallax-container {
    filter: blur(5px);
}
.hero-name {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.1em;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.demo-table {
    display: table;
    width: 100%;
    height: 700px;
}
.demo-table-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-center {
    text-align: center;
}

.jarallax,
.jarallax-keep-img {
    background: linear-gradient(300deg, rgb(17, 18, 50), rgb(56, 24, 24)) !important;
}
.jarallax > .jarallax-img,
.jarallax > .jarallax-container,
.jarallax-keep-img > .jarallax-container {
    opacity: 0.3;
}

/* gap */
.demo-gap {
    padding: 50px;
    overflow: hidden;
}
.demo-gap h1,
.demo-gap h2,
.demo-gap h3 {
    text-align: center;
}
.demo-gap .container {
    max-width: 800px;
    margin: 0 auto;
}
.demo-gap-half {
    display: table;
    width: 100%;
}
.demo-gap-half > div {
    display: table-cell;
    width: 50%;
}
.demo-gap-half .demo-gap-1 .jarallax,
.demo-gap-half .demo-gap-2 .jarallax {
    padding-top: 56.25%;
    min-height: 0;
    height: 0;
}
.demo-gap-half .demo-gap-1 .jarallax {
    padding-top: 112.5%;
}

/* Demo Content */
.demo-content {
    background-color: #0b0b0b;
    padding: 80px;
}


/* Float */
.demo-float-left {
    float: left;
}
.demo-float-right {
    float: right;
}


/* Mobile */
@media screen and (max-width: 500px) {
    .demo-gap,
    .demo-content {
        padding: 50px 30px;
    }
}
